form {

  .threadaTitleArea {
    width: 100%;
    min-height: 80px;
    margin-bottom: 40px;
    padding: 0px;
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    font-size: 22px;
  }

  .subContaienr {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .postThreadButton {
    width: 100px;
    height: 40px;
    border-style: none;
    border-radius: 5px;
    background-color: #A0CA5A;
    color: white;
    font-size: 22px;

    &:hover {
      background-color: #859B4B;
    }
  }
}