.threadContent{
  width: 100%;
  min-height: 80px;
  padding: 10px;
  border: 2px solid #50514E;
  border-radius: 5px;
  background-color: white;
  color: #50514E;
  font-size: 22px;
  word-break: break-word;
}

.newPostContainer {

  margin-top: 80px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #f3f1e7;

  .newPostTitle {
    width: 100%;
    margin-bottom: 30px 0px 80px 0px;
    color: #50514E;
    font-size: 30px;
  }
}