.threadContent{
  width: 100%;
  min-height: 80px;
  padding: 10px;
  border: 2px solid #50514E;
  border-radius: 5px;
  background-color: white;
  color: #50514E;
  font-size: 22px;
  word-break: break-word;
}