.mainContainer {

  .threadsContainer {
    width: 50%;
    margin: 30px auto;

    .threadTitle {
      width: 100%;
      margin-bottom: 30px;
      color: #50514E;
      font-size: 30px;
    }
  }
}